{% extends 'base.html' %}

{% block title %}
Отправка сообщения на почту
{% endblock %}

{% block body %}
<form method="post" name="signin-form">
    <div class="reg" style="color: #d5d5d5">
        <h1>Восстановление пароля</h1>
        {% for msg in get_flashed_messages() %}
            <div class="flash">{{ msg }}</div>
        {% endfor %}
        Введите свою почту
        <input type="email" name="email" id="email"><br>
        <input type="submit" class="rega" value="Отправить код"><br>
    </div>
</form>
{% endblock %}