{% extends 'base.html' %}

{% block title %}
Подтверждение почты
{% endblock %}

{% block body %}
<form method="post" name="signin-form">
    <div class="reg" style="color: #d5d5d5">
        <h1>Восстановление пароля</h1>
        {% for msg in get_flashed_messages() %}
            <div class="flash">{{ msg }}</div>
        {% endfor %}
        Введите код подтверждения
        <input type="text" name="number" id="number" required><br>
        Введите новый пароль
        <input type="text" name="password" id="password" required><br>
        Повторите пароль
        <input type="password" name="repeat_password" id="repeat_password" required><br>
        <input type="submit" class="rega" value="Сохранить данные"><br>
    </div>
</form>
{% endblock %}